<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.io</title>
  </head>
  <body>
    <form action="" id="form">
      <input type="text" name="message" id="message" />
      <button type="submit">send</button>
    </form>

    <script type="module">
      import { io } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";
      const socket = io();

      const formEl = document.getElementById("form");
      formEl.addEventListener("submit", (e) => {
        e.preventDefault();
        console.log(e);
        const message = formEl.querySelector("#message");
        socket.emit("messenger", message.value);
      });
    </script>
  </body>
</html>
